
.pytest*
.pytype*
.vscode*
.venv*
build*/
*dist*/
dl/*

credentials/*.json
!credentials/credentials_template.json
queries/*.json
!queries/query_template.json
proxies/*.json
!proxies/proxy_template.json

.DS_Store
*.pyc
__pycache__
*.egg-info

